DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=vinculatec
JWT_SECRET=tu_frase_secreta_aqui # Generar con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
PORT=3001